.container{
    background-color: brown;
    height: 100%;
    width: 100%;
    display: grid;
    padding: 0.1px;
    gap: 10px;
    /* overflow: hidden; */
    /* grid-template-columns:10vw 20vw 30vw; */
    /* grid-template-columns:2fr 3fr auto */
    grid-template-columns: repeat(4, 1fr);
    /* repeat means how many want to repeat, dividing the parent space in 4 piece */

    /* grid-template-rows: 200px 200px 200px; */
    grid-template-rows: repeat(3 , 1fr);

}

.box{
    border: 2px solid black;
    padding: 12px;
    background-color: #8cbf00;

}

#box-1{
    background-color: antiquewhite;
}

/* grid work in both way x and y axis */

/* property */
/* gap */